useDynLib(ContaminatedMixt, .registration = TRUE)
export(CNmixt,whichBest,getIC,getBestModel,getPosterior,getSize,getCluster,
       getPar,agree,getDetection,dCN,rCN,m.step,CNpredict,getCV,whichBestCV,
       CNmixtCV)
import(mixture, mnormt, parallel) 
importFrom("mclust","classError","unmap","Mclust")
importFrom("caret","createFolds")
importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "box", "contour", "pairs", "par",
             "plot", "text")
importFrom("stats", "dnorm", "kmeans", "mahalanobis", "optimize",
             "rbinom", "rmultinom", "runif")
importFrom("mvtnorm","dmvnorm")

S3method(predict,ContaminatedMixt)
S3method(summary,ContaminatedMixt)
S3method(print,ContaminatedMixt)
S3method(plot,ContaminatedMixt)
S3method(print,ContaminatedMixt)
S3method(pairs,ContaminatedMixt)
S3method(print,ContaminatedMixt.IC)
S3method(print,ContaminatedMixt.CV)

